@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --width: 800px;
}

body {
    display: flex;
    justify-content: center;
    background-color: #007190;
}

a { 
      text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
} 

.cartao {
    border-radius: 10px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    border: solid #6b431e 4px;
    background-color: #ffefae;
    height: 400px;
    width: 900px;
}

.texto {
    font-family: "Inter", sans-serif;
    font-size: 1.3em;
    width: 65%;
    justify-content: left;
    padding: 20px;
}

.imagem {
    padding: 20px;
    justify-content: flex-end;
    width: 35%;
    align-self: center;
}

.navbar {
  display: flex;
    justify-content: center;
    background-color: whitesmoke;
    width: var(--width);
}

.navbutton {
      text-decoration: none;
  display: block;
  padding: 16px;
  background-color: #dddddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}


